name: ci

on:
  push:
    branches:
      - main
    tags:
      - "**"
  pull_request: {}

env:
  COLUMNS: 150
  UV_PYTHON: "3.14"
  UV_FROZEN: "1"

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt, clippy

      - uses: astral-sh/setup-uv@v7
      - run: uv sync --all-packages --only-dev

      - uses: actions/cache@v5
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|${{ env.UV_PYTHON }}|${{ hashFiles('.pre-commit-config.yaml') }}
      - run: uvx pre-commit run --color=always --all-files --verbose
        env:
          SKIP: test

  test-rust:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable

      # this means pyo3 will use Python 3.14 in tests
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - run: rustc --version --verbose
      - run: python3 -V
        # don't use .venv python in CI
      - run: rm .cargo/config.toml

      # run rust tests in all flavors
      - run: make test-no-features
      - run: make test-ref-count-panic
      - run: make test-ref-count-return
      # test the type checking logic
      - run: make test-type-checking

  test-python:
    name: test python ${{ matrix.python-version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    env:
      UV_PYTHON: ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - uses: astral-sh/setup-uv@v7

      - run: uv sync --all-packages --only-dev
      - run: make dev-py
      - run: make pytest
        # also test with a release build
      - run: make dev-py-release
      - run: make pytest

  bench-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable

      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"
        # don't use .venv python in CI
      - run: rm .cargo/config.toml

      - run: make dev-bench

  # https://github.com/marketplace/actions/alls-green#why used for branch protection checks
  check:
    if: always()
    needs: [lint, test-rust, test-python, bench-test]
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
